<div class="mt-4">
    <form class="d-flex mt-2" role="search" method="get" action="/api/device/register">
        <button class="btn btn-outline-success" type="submit">Register Device</button>
    </form>
    <div class="row">
        {{#each device}}
            <div class="col-sm-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <a href="#">
                        <img src="{{this.device_image}}" class="card-img-top" alt="{{this.device_name}}" />
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title">{{this.device_name}}</h5>
                        </a>
                        <div style="display: flex; align-items: center;">
                            <a href="#" class="btn btn-primary">View</a>
                            <form
                                class="d-flex mt-3 ml-2"
                                role="search"
                                method="get"
                                action="/api/device/{{this._id}}/edit"
                            >
                                <button type="submit" class="btn btn-info">Edit</button>
                            </form>
                            <form
                                class="d-flex mt-3 ml-2"
                                role="search"
                                method="post"
                                action="/api/device/{{this._id}}?_method=DELETE"
                            >
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>